[Unit]
Description=GSM Serial Service
After=rc-local.service

[Service]
Type=single
Restart=always
RestartSec=1800s
ExecStart=/usr/bin/python3 -u /etc/scripts/MonitoringManager/MonitoringManager/MonitoringManager.py

[Install]
WantedBy=multi-user.target
