[Unit]
Description=Monitoring for IPRecorder
After=rc-local.service

[Service]
Type=single
Restart=always
RestartSec=60s
ExecStart=MonitoringManager
StandardOutput=append:/var/log/monitoring.log
StandardError=append:/var/log/monitoring.log

[Install]
WantedBy=multi-user.target
